@import './list.styl'
@import './detail.styl'
@import './media.styl'

*,
*:before,
*:after
    box-sizing: border-box
    -webkit-tap-highlight-color: transparent

h1,h2,h3,h4,h5,h6,p,body,html,ul,ol
    margin: 0
    padding: 0
a
    text-decoration: none
    color: inherit
ul,ol
    list-style: none
body
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif


.container
  width: 768px
  margin: 0 auto

button:focus
  outline: none
  border: none
